


.all-film-film-content{
    margin-bottom: 200px;
  }
  
.all-film-film-content{
    margin-top: 75px;
}

.all-film-movie-list{
    display: flex;
    column-gap: 20px;
    overflow-y: scroll;
    scroll-behavior: auto;
}

.all-films-title{
    color: #000;
    font-weight: 400;
    margin-bottom: 30px;
    display: flex;
    column-gap: 4px;
    align-items: center;
}

.all-film-movie-details{
    text-align: left;
    color: #000;
    margin-top: 15px;
    height: 70px;
}

.all-movie-title{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.all-movie-release-date{
    font-size: 14px;
    color: #a7a4a4;
}

.all-film-movie-list::-webkit-scrollbar {
    display: none; /* Kaydırma çubuğunu gizle */
  }


.all-movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    row-gap: 50px;
  }

  
  .all-movie-poster{
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 8px;
  }




  .load-more-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
  }

  .load-more-button{
    outline: none;
    border: 1px solid #000;
    background: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.4s ease;
  }

  .load-more-button:hover{
    background-color: #000;
    color: #fff;
    border: none;
  }

  @media screen and (max-width: 734px) {
    .all-movie-poster{
     width: 100%;
      }
  }

  .movie{
    display: inline-block;
  }

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #ffffff; 
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.all-films-content {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.all-films-content.show {
  opacity: 1;
}
