.upcoming-movie-poster{
    width: 200px;
}



  
.upcoming-film-content{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.upcoming-movie-list{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.upcoming-film-title{
    color: #000;
    font-weight: 400;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.upcoming-movie-details{
    text-align: left;
    color: #000;
    margin-top: 15px;
    height: 70px;
}

.upcoming-movie-title{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}

.upcoming-movie-release-date{
    font-size: 14px;
    color: #a7a4a4;
}

.upcoming-movie-list::-webkit-scrollbar {
    display: none; /* Kaydırma çubuğunu gizle */
  }


.upcoming-movie-poster{
    cursor: pointer;
    border-radius: 8px;
}