.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  align-items: center;
  position: sticky;
  top: 0;
  backdrop-filter: blur(40px);
  background-color: #f5f5f5cc;

}

@media screen and (max-width: 734px) {
  .navbar {
    padding: .75rem;
    flex-direction: column;
    row-gap: 10px;
  }
  .navbar_right-content{
    width: 100%;
  }

}

.navbar_right-content {
  z-index: 999;
  flex-basis: 40%;
}

.navbar_left-content{
  height: 50px;
  z-index: 999;
}

.navbar_left-content_logo {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.navbar_left-content_logo .logo-text {
  color: #000;
  font-weight: 500;
  font-size: 21px;
  line-height: 0.9;
}






.navbar_right-content_user_logo{
  cursor: pointer;
}

.navbar_left-content_menu ul{
  display: flex;
  list-style: none;
  column-gap: 15px;
}

.navbar_left-content_menu ul li {
  font-size: .875rem;
  font-weight: 500;
  color: rgb(115 115 115);
  position: relative;
  cursor: pointer;
}

.navbar_left-content_menu ul li a:focus{
  color: #000;
}

.navbar_left-content_menu ul li.active::after{
  content: "";
  width: .25rem;
  height: .25rem;
  border-radius: 50%;
  background-color: #000;
  display: block;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar_left-content_menu ul li.active{
  color: #000;
}

.navbar_left-content{
  display: flex;
  align-items: center;
  column-gap: 30px;
}
