.navbar {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  align-items: center;
  position: relative;
}

.navbar_right-content {
  display: flex;
  column-gap: 20px;
}

.navbar_left-content_logo {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.navbar_left-content_logo .logo-text {
  color: #000;
  font-weight: 500;
  font-size: 21px;
  line-height: 0.9;
}

.navbar_search-content {
  flex-basis: 50%;
  position: relative;
}

.search-bar {
  background: none;
  padding: 6px 20px;
  border: none;
  color: #000;
  width: 100%;
  border-bottom: 0.5px solid #000;
}

.search-bar:focus {
  border-color: #b7babe;
  outline: none;
}

.search-icon {
  position: absolute;
  right: 13px;
  top: 2px;
}


.search-results {
  position: absolute;
  z-index: 9999;
  background: white;
  top: 150px;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  overflow: scroll;
}

.search-results .movies {
  display: flex;
  column-gap: 20px;
}

.search-results .movies .movie img {
  width: 150px;
  height: auto;
}

.search-results .movies .movie {
  cursor: pointer;
}

.search-results::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1080px) {
  .App {
    padding-left: 30px;
    padding-right: 30px;
  }

}


@media screen and (max-width: 1080px) {
  .movie-poster {
    width: 100% !important;
    height: 400px !important;
  }
}

