.built-by {
    color: #888;
    font-size: 12px;
    font-weight: 300;
}

.footer{
    position: absolute;
    width: 100%;
}
.footer-content{
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.tmdb{
    font-size: .875rem;
    line-height: 1.25rem;
    color: #888;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-weight: 300;

}

.built-by a {
    color: #19191a;
    text-decoration: none;
    transition: color .5s ease;
}

@media screen and (max-width: 734px) {
    .tmdb {
        column-gap: 4px;
    }
    .footer-content{
        flex-direction: column;
        margin-top: 50px;
        row-gap: 15px;
        align-items: center;
    }
  }