.App{
 min-height: 100vh;
}

.modal-movie-poster{
  width: 200px;
  height: auto;
  border-radius: 8px;
}

.trailer-container{
    display: flex;
    margin-top:50px;
    justify-content: center;
}
.trailer-video{
  width: 100%;
  height: 600px;
  border-radius: 8px;
  border: none;
}
.modal-content-top{
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.modal h2{
  color: #000;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 30px;
}

.modal-open-content{
  position: fixed;
  background-color: #fff;
  z-index: 99999;
  padding: 50px;
  width: 100vw;
  border-radius: 8px;
  top: 0;
  left: 0;
  overflow-y: auto;
  height: 100vh;
}

.modal{
  position: relative;
}

.close-button{
  position: absolute;
  right: 0;
  background: none;
  color: #fff;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.modal-right{
  color: #000;
  flex-basis: 75%;
}

.modal-right p{
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 23px;
}

.overlay-body {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); 
  z-index: 999; 
}

.overlay-body.active {
  display: block;
}



@media screen and (max-width: 734px) {
  .modal-content-top {
    flex-direction: column;
    row-gap: 30px;
  }
  .modal-open-content{
    padding: 30px;
    padding-bottom: 100px;
  }

  .trailer-video{
    height: 100%;
  }
}

.overlay-movie {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 4px);
  background-color: rgba(0, 0, 0, 0.5); 
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0; 
  transition: opacity 0.6s ease;
  cursor: pointer;
  border-radius: 8px;
}

.movie:hover .overlay-movie {
  opacity: 1;
}

.movie{
  padding: 30px;
  background-color: #fff;
  border-radius: 16px;
  transition: background 0.6s ease;
  cursor: pointer;
}

.movie .image-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.movie:hover{
  background-color: #e5e5e566;
}

.search-input{
  background-color: #eaeaea;
  border: none;
  width: 100%;
  padding: 10px 20px;
  border-radius: 16px;
  font-size: 14px;
}

.search-input::placeholder{
  color: #000;
}

.search-input-content{
  width: 100%;
  position: relative;
}

.search-svg{
  position: absolute;
  right: 15px;
  top: 9px;
}

.movie-poster{
  width: 200px;
}




.film-content{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.movie-list{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5,minmax(0,1fr));
}

@media screen and (max-width: 1068px) {
  .movie-list {
      grid-template-columns: repeat(3, minmax(0, 1fr));
  }

}



@media screen and (max-width: 734px) {
  .movie-list {
      grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .movie-poster{
      width: 100%;
  }

}

.film-title{
  color: #000;
  font-weight: 400;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.movie-details{
  text-align: left;
  color: #000;
  margin-top: 15px;
}

.movie-title{
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
}

.movie-release-date{
  font-size: 12px;
  color: #a7a4a4;
}

.movie-list::-webkit-scrollbar {
  display: none; 
}


.movie-poster{
  cursor: pointer;
  border-radius: 8px;
}

.navbar_left-content_logo{
  cursor: pointer;
}